{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <!--<h3 class="panel-sub-heading">-->
    <!--You're about to take a test on LabintheWild. Your participation allows us to-->
    <!--learn more about human humour abilities around the world. The results from-->
    <!--your test will also tell you something about yourself!-->
    <!--</h3>-->

<p>
    <strong>Почему мы проводим это исследование:</strong>
    Мы пытаемся понять, что делает текст смешным.
</p>
<p>
    <strong>Что от вас потребуется:</strong>

    Вам будет показано по 1 тексту на каждой странице. Для каждого текста необходимо
    будет сказать, является он шуткой или нет.
    Пожалуйста, имейте в виду, что тексты взяты из интернета с минимальной фильтрацией и
    могут содержать ненормативную лексику.
    Вы можете прекратить разметку в любой момент и вернуться к ней позже.
</p>

<p>
    <strong>Ваши персональные данные:</strong>
    В рамках исследования мы <b>не</b> собираем никакие персональные данные.
</p>

<p>
    <strong>Контактная информация:</strong
    Если у вас есть какие-либо вопросы, касающиеся исследования, то вы можете обратиться к
    Павлу Браславскому из Уральского Федерального Университета (Pavel.Braslavsky@urfu.ru).
</p>
</div>