{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <!--<h3 class="panel-sub-heading">-->
    <!--You're about to take a test on LabintheWild. Your participation allows us to-->
    <!--learn more about human humour abilities around the world. The results from-->
    <!--your test will also tell you something about yourself!-->
    <!--</h3>-->

<p>
    <strong>Почему мы проводим это исследование:</strong>
    Мы пытаемся понять, что делает текст смешным.
</p>
<p>
    <strong>Что от вас потребуется:</strong>

    Вам будет показано по 1 тексту на каждой странице. Для каждого текста необходимо
    будет сказать, является он шуткой или нет.
    Пожалуйста, имейте в виду, что тексты взяты из интернета с минимальной фильтрацией и
    могут содержать ненормативную лексику.
</p>

<p>
    <strong>Ваши персональные данные:</strong>
    Мы <b>не</b> будем просить Вас указать имя или адрес электронной почты.
    Любые данные, которые мы соберём, будут храниться безопасно на наших серверах.
</p>
<p>
    <strong>Продолжительность:</strong>
    Весь эксперимент займёт не более 7 минут Вашего времени.
</p>
<p>
    <strong>Контактная информация:</strong>
    Этот экспермент был одобрен Комитетом по исследованиям в социальных науках
    Уральского Федерального Университета. Ваше участие в эксперименте является добровольным
    и вы имеете права завершить эксперимент в любое время. Ваши данные будут конфиденциальными и
    в любое время Вы можете оставить запрос на удаление Ваших данных. Мы не имеем доступа к вашим персональным
    данным.
    Если у вас есть какие-либо вопросы, касающиеся исследования, то вы можете обратиться к
    Павлу Браславскому из Уральского Федерального Университета (Pavel.Braslavsky@urfu.ru).
</p>
</div>