{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <!--<h3 class="panel-sub-heading">-->
    <!--You're about to take a test on LabintheWild. Your participation allows us to-->
    <!--learn more about human humour abilities around the world. The results from-->
    <!--your test will also tell you something about yourself!-->
    <!--</h3>-->

<p>
    <strong>Why we are doing this research:</strong>
    We are trying to understand how our personality affects our sense of humor.
</p>
<p>
    <strong>What you will have to do:</strong>

    You will be shown 30 dialog jokes, i.e. jokes consisting of a
    question (Q) and an answer (A). You are asked to rate each joke on a 4-point
    scale: 😞 not funny at all (1), 😔 can be better (2), 😊 funny (3), 😆
    hilarious (4).
    Please note that the jokes were collected from the Web with minimum
    filtering, so they may be rude or contain obscene language. Towards the end
    of the experiment, you will also be asked to answer some questions about
    yourself.
<p>
    <strong>What you will get out of it:</strong>

    We will give you feedback on how your results compare to those of others.
    We hope you will enjoy it.

</p>


<p>
    <strong>Privacy and Data Collection:</strong>
    We will <b>not</b> ask you for your name or email address.
    Any data that we collect will be securely stored on our servers.
</p>
<p>
    <strong>Duration:</strong>
    The whole duration of the experiment should be around 7 minutes.
</p>
<p>
    <strong>Contact information:</strong>
    This experiment was approved by Social Sciences Research Board of the Ural
    Federal University. Your participation in the experiment is completely
    voluntary and you are free to withdraw from the experiment at any time.
    Your data will be treated confidentially and you are also free to request
    your data to be removed. We do not get access to your personal details.
    If you have any questions regarding the study, please feel free to contact
    Dr. Pavel Braslavski from URFU (Pavel.Braslavsky@urfu.ru).
</p>
</div>