{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}What sense of Humor do YOU have? {% endblock %}

{% block content %}

<p>
    I know what you're thinking. What's she talking about? Does that question
    even make sense? What are the different senses of humor? But different people
    have different reactions to what people tell them, which reflect on who they
    are. Try it out! maybe you need to work on your humor, lighten up a bit. Or
    maybe, you're kinda over the top, like you swallowed three bottles of
    mountain dew and Redbull mixed together.
</p>

{% next_button %}
{% endblock %}
