{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}INFORMATION SHEET{% endblock %}

{% block content %}

<p>
    Following this, you will be shown 30 dialog jokes, i.e. jokes consisting of a
    question (Q) and an answer (A). You are asked to rate each joke on a 4-point
    scale: 😞 not funny at all (1), 😔 can be better (2), 😊 funny (3), 😆
    hilarious (4). Towards the end of the experiment, you will also be asked to answer some
    questions about yourself. The whole duration of the experiment should be
    around 10 minutes.
</p>
{% endblock %}